<img src="template/Images/user_avatar.png" alt="user_avatar" class="user_avatar" />
<span class="label" ng-controller="loginCtrl">{{user.name}}</span>
<!-- Top Tooltip -->
<div class="top_tooltip">
    <div>
        <ul class="user_options">
            <li class="i_16_profile">
                <a href="#" title="Profile"></a>
            </li>
            <li class="i_16_tasks">
                <a href="#" title="Tasks"></a>
            </li>
            <li class="i_16_notes">
                <a href="#" title="Notes"></a>
            </li>
            <li class="i_16_options">
                <a href="#" title="Options"></a>
            </li>
            <li class="i_16_logout">
                <a href="#" title="Log-Out"></a>
            </li>
        </ul>
    </div>
</div>