 <div class="grid_wrapper"> 
        <!-- Quick Statistics -->
        <div class="g_3 quick_stats">
          <div class="big_stats visitor_stats">
            1111
          </div>
          <h5 class="stats_info">1</h5>
        </div>
        <div class="g_3 quick_stats">
          <div class="big_stats tickets_stats">
            23
          </div>
          <h5 class="stats_info">2</h5>
        </div>
        <div class="g_3 quick_stats">
          <div class="big_stats users_stats">
            982
          </div>
          <h5 class="stats_info">3</h5>
        </div>
        <div class="g_3 quick_stats">
          <div class="big_stats orders_stats">
            2045
          </div>
          <h5 class="stats_info">4</h5>
        </div>
 
        <div class="g_12 separator"><span></span></div>
         <h1>{{loginMsg}}</h1>
      </div>